html{
    background-color: #6633CC;
}

body{
    width: 1000px;
    margin: 0 auto;
    background-color: #33FF66;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1{
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    color: #FF0000;
    text-shadow: 3px 3px 1px black;
}
img{
    display: block;
    margin: 0 auto;
}
.popular{
    border : 4px dotted red
}
#heading{
    color: blue;
}